@model BeltExam.Models.Event
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Dojo Activity Center</span>
        </div>
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a>Welcome @ViewBag.UserName!</a></li>
                <li><a href="/">Logoff</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <table class="table table-striped border">
        <thead>
            <th>Activity</th>
            <th>Date and Time</th>
            <th>Duration</th>
            <th>Location</th>
            <th>Event Coordinator</th>
            <th>Number of Participants</th>
            <th>Actions</th>
        </thead>
        <tbody>
            @foreach(Event e in @ViewBag.Events)
            {
                @if(@e.date >= DateTime.Today)
                {
                    <tr>
                    <td><a href="/activity/@e.EventId">@e.title</a></td>
                    <td>@e.date.ToString("M/dd") @@ @e.time.ToString("h:mmtt")</td>
                    <td>@e.duration @e.durationunit</td>
                    <td>@e.address</td>
                    <td>@e.User.firstname</td>
                    <td>@e.participants.Count()</td>
                    @if(@e.UserId == @ViewBag.UserId)
                    {
                        <td><form action="/delete" method="POST">
                            <input type="hidden" name="activityid" value=@e.EventId>
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form></td>
                    }
                    else if(@e.participants.Exists(x=>x.UserId==@ViewBag.UserId))
                    {
                        <td><form action="/unjoin" method="POST">
                            <input type="hidden" name="activityid" value=@e.EventId>
                            <button class="btn btn-warning" type="submit">Un-Join</button>
                        </form></td>
                    }
                    else
                    {
                        <td><form action="/join" method="POST">
                            <input type="hidden" name="activityid" value=@e.EventId>
                            <button class="btn btn-success" type="submit">Join</button>
                        </form></td>
                    }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-primary pull-right" href="/New" role="button">Add New Activity!</a>
    </div>
</div>