<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Dojo Activity Center</span>
        </div>
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="ActivityCenter" asp-action="Dashboard">Home</a></li>
                <li><a href="/">Logoff</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
        <h1>@ViewBag.Eventname</h1>
    </div>
    <div class="col-xs-10 col-sm-2 col-md-4">
        <br>
        @if(@ViewBag.UserId == @ViewBag.Event.UserId)
            {
                <td><form action="/deleteinact" method="POST">
                    <input type="hidden" name="activityid" value=@ViewBag.EventId>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form></td>
            }
        else
            {
                @foreach(Event e in @ViewBag.AllEvents)
                {
                    @if(@e.participants.Exists(x=>x.UserId == @ViewBag.UserId))
                    {
                        <td><form action="/unjoininact" method="POST">
                            <input type="hidden" name="activityid" value=@e.EventId>
                            <button class="btn btn-warning" type="submit">Un-join</button>
                        </form></td>
                    }
                    else
                    {
                        <td><form action="/joininact" method="POST">
                            <input type="hidden" name="activityid" value=@e.EventId>
                            <button class="btn btn-success" type="submit">Join</button>
                        </form></td>
                    }
                }
            }
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col">
        <h3><u>Event Coordinator</u>:   @ViewBag.Event.User.firstname</h3>
    </div>
</div>
<div class="row">
    <h3>Description:</h3>
</div>
<div class="row">
    <div class="col">
        <p> @ViewBag.Eventdesc </p>
    </div>
</div>
<div class="row">
    <h3>Participants:</h3>
</div>
<div class="row">
    <div class="col">
    @foreach(var participant in @ViewBag.Participants)
    {
        <h4 style="display: inline">@participant.User.firstname <span class="text-info">| </span></h4>
    }
    </div>
    <br>
    <div class="col">
        <div class="col-xs-12 col-sm-7 col-md-7" style="height: 400px;">
            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCLzC_v6DaZMiInBKOZNvII3Zz2LRUlKqg&q=@ViewBag.Event.address" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
</div>
